<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
     <link rel="stylesheet" href="{% static 'css/index.css'%}"
    <title></title>
  </head>
  <body>
  <div class="container">
  <div class="jumbotron">
    <h1 class="display-4"><b>Welcome To Social-Media</b></h1>

  Do You Have An Account<a class="btn btn-success btn-lg" href="/login/" role="button">LOGIN</a>&nbsp;&nbsp;&nbsp;&nbsp;
     Create New Account Here<a class="btn btn-primary btn-lg" href="/register/" role="button">CREATE NEW ACCOUNT</a> &nbsp;&nbsp;&nbsp;&nbsp;
</div>
  </div>
</html>